{% extends 'main_menu.html' %}

{% block content %}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        font-size: 16px;
    }

    table tr:nth-child(even) {
        background-color: #e9f8fc; /* Adjust the greenbar color as desired */
    }

    table tr:nth-child(even) {
        background-color: #e9f8fc; /* Adjust the greenbar color as desired */
    }

    table th,
    table td {
        padding: 3px;
        text-align: left;
    }

    div#hcenter {
        margin-left:auto;
        margin-right:auto;
        width:300px;
        text-align:center;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 25px;
    }

    .grid-item {
        width: 100%;
        height: 60px;
    }

</style>

<form action="" method="POST">
    <div>
        <input type="text" name="uniquelocation" placeholder="Docker container files path (Required)" style="width: 305px;" required>
    </div>
    <br>
    <button type="submit" name="submit" value='Directory Selected' class="btn btn-primary btn-save orange_background" style=" height: 50px;"><b>Use Unique Directory</b></button>
</form>
<br>
<br>
<b>
    Existing Docker Directories
</b>
<div class="grid-container">
    {% for item in directories %}
        <div class="grid-item">
            <form method="POST" action="">
                <input type="hidden" name="path" value="{{ path }}">
                <input type="hidden" name="containerLocation" value="{{ item }}">
                <button id="submit" type="submit" name="submit" value='Directory Selected' class="btn btn-primary btn-save orange_background" style="width: 100%; height: 75px; font-size: 20px; font-weight: bold;">{{ item }}</button>
            </form>
        </div>
    {% endfor %}
</div>
<br>
<br>



{% endblock %}