{% extends "common/sidebar_page.html" %}
{% block content %}

<!-- JavaScript -->

<script type="text/javascript">// <![CDATA[
    function loading(){
        $("#loading").show();
        $("#content").hide();       
    }
// ]]></script>


<!-- CSS -->

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        font-size: 15px;
    }

    table tr:nth-child(even) {
        background-color: #e9f8fc; /* Adjust the greenbar color as desired */
    }

    table th,
    table td {
        padding: 3px;
        text-align: left;
    }

    .btn-custom {
      text-transform: none; /* Set the text transform to none */
    }

    div#loading {
        display: none;
        cursor: wait;
    }

    div#hcenter {
        margin-left:auto;
        margin-right:auto;
        width:300px;
        text-align:center;
    }

    .right-column {
        float: right;
        width: 30%;  }
      
      td {
        padding: 10px;  
    }

    .advanced-options {
        display: none;
    }

    .fixed-height {
        height: 95px;  
    }

</style>


<!-- HTML & Jinja Body -->

<div id=content></div>
    {% with name='Container Info' %}
        {% include 'common/section_heading.html' %}
    {% endwith %}
    <table>
        {% for container in container %}
        <tr>
            <th>
                Container Name:
            </th>
            <td style="width:20px">&nbsp;</td>
            <td>
                {{ container.Name }}
            </td>
        </tr>    
        <tr>
            <th>
                Container Image:
            </th>
            <td style="width:20px">&nbsp;</td>
            <td>
                {{ container.Image }}
            </td>
        </tr>    
        <tr>
            <th>
                Short Container ID:
            </th>
            <td style="width:20px">&nbsp;</td>
            <td>
                {{ container.Short_Id }}
            </td>
        </tr>
        <tr>
            <th>
                Status:
            </th>
            <td style="width:20px">&nbsp;</td>
            <td>
            {% if container.Status == 'running' %}
                <img src="../../static/images/GreenDot.svg" width="3%">
            {% elif container.Status == 'exited' %}
                <img src="../../static/images/RedDot.svg" width="3%">
            {% elif container.Status == 'restarting' %}
                <img src="../../static/images/YellowDot.svg" width="3%">
            {% elif container.Status == 'paused' %}
                <img src="../../static/images/YellowDot.svg" width="3%">
            {% elif container.Status == 'created' %}
                <img src="../../static/images/YellowDot.svg" width="3%">
            {% endif %}
            {{ container.Status }}
            </td>
        </tr>
        <tr>
            <th>
                Options:
            </th>
            <td style="width:5px">&nbsp;</td>
            <td>
                <form method="POST" action="" onsubmit=loading()>
                    <input type="hidden" name="Short_Id" value="{{ container['Short_Id'] }}">
                    <input type="hidden" name="Image" value="{{ container['Image'] }}">
                    <input type="hidden" name="Name" value="{{ container['Name'] }}">
                    <input type="hidden" name="Logs" value="{{ container['Logs'] }}">
                    <input type="hidden" name="clientMethod" value="{{ container['clientMethod'] }}">
                    <button id="restart" type="submit" name="submit" value='Restart' class="btn btn-primary btn-save orange_background" style=" height: 50px;">Restart {{ container.Name }}</button>
                    <button id="stop" type="submit" name="submit" value='Stop' class="btn btn-primary btn-save orange_background" style=" height: 50px;">Stop {{ container.Name }}</button>
                    <button id="start" type="submit" name="submit" value='Start' class="btn btn-primary btn-save orange_background" style=" height: 50px;">Start {{ container.Name }}</button>
                    <button id="pause" type="submit" name="submit" value='Pause' class="btn btn-primary btn-save orange_background" style=" height: 50px;">Pause {{ container.Name }}</button>
                    <button id="unpause" type="submit" name="submit" value='Unpause' class="btn btn-primary btn-save orange_background" style=" height: 50px;">Unpause {{ container.Name }}</button>
                    <button id="submit" type="submit" name="submit" value='Remove' class="btn btn-primary btn-save orange_background" style=" height: 50px;">Remove {{ container.Name }}</button>
                </form>
            </td>
        </tr>
        <tr>
            <th>
                Log File:
            </th>
            <td style="width:20px">&nbsp;</td>
            <td>

            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                {{ container.Logs }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>


<div id=loading>

    {% with name='Please Wait' %}
        {% include 'common/section_heading.html' %}
    {% endwith %}
    <p>The System is processing your request.  Please be patient as we interact with the various systems necessary to complete your transaction. </p>
    
    <br><br>
    
    <p style="text-align:center;"><img src="../../static/images/loading.gif" class="center"></p>
    </div>

{% endblock %}
