{% extends "common/sidebar_page.html" %}
{% block content %}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        font-size: 16px;
    }

    table tr:nth-child(even) {
        background-color: #e9f8fc; /* Adjust the greenbar color as desired */
    }

    table tr:nth-child(even) {
        background-color: #e9f8fc; /* Adjust the greenbar color as desired */
    }

    table th,
    table td {
        padding: 3px;
        text-align: left;
    }

    div#hcenter {
        margin-left:auto;
        margin-right:auto;
        width:300px;
        text-align:center;
    }
</style>



<div id="content">
    {% with name='Production / PBCTKLOR4 / Local' %}
        {% include 'common/section_heading.html' %}
    {% endwith %}
    <table style="font-size: 16px;">
        <thead>
            <tr>
                <th>
                    Container Name
                </th>
                <th>
                </th>
                <th>
                    Image
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>    
            <tbody>
                {% for container in containers %}
                    <tr>
                        <td> 
                            <form method="POST" action=""> 
                            <input type="hidden" name="Short_Id" value="{{ container.Short_Id }}">
                            <button id="submit" type="submit" name="submit" value='Container Selected' style="width: 200px; height: 40px;">{{ container.Name }}</button>
                            </form>
                        </td>
                        <td>
                            <form method="POST" action="" onsubmit=loading()>
                                <input type="hidden" name="Short_Id" value="{{ container.Short_Id }}">
                                <button id="submit" type="submit" name="submit" value='Remove' style="width: 200px; height: 40px;">Remove {{ container.Name }}</button>
                            </form>
                        </td>
                        <td>
                            {{ container.Name }}
                        </td>
                        <td>
                            {% if container.Status == 'running' %}
                                <img src="../../static/images/GreenDot.svg" width="5%">
                            {% elif container.Status == 'exited' %}
                                <img src="../../static/images/RedDot.svg" width="5%">
                            {% elif container.Status == 'restarting' %}
                                <img src="../../static/images/YellowDot.svg" width="5%">
                            {% elif container.Status == 'paused' %}
                                <img src="../../static/images/YellowDot.svg" width="5%">
                            {% elif container.Status == 'created' %}
                                <img src="../../static/images/YellowDot.svg" width="5%">
                            {% endif %}
                            {{ container.Status }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody> 
    </table>

</div>

{% endblock %}
