
{% if sideMenu == True %}
    {% extends "common/sidebar_page.html" %}
{% elif developmentSideMenu == True %}
    {% extends "common/development_sidebar_page.html" %}
{% elif constituentSideMenu == True %}
    {% extends "common/development_constituents_sidebar_page.html" %}
{% elif IVASideMenu == True %}
    {% extends "common/iva_sidebar_page.html" %}    
{% elif opsKeysSideMenu == True %} 
    {% extends "common/ops_keys_sidebar_page.html" %}        
{% elif volunteerSideMenu == True %} 
    {% extends "common/volunteer_sidebar_page.html" %}        
{% else %}
    {% if not sideMenu == False %}
        {% extends "common/full_page.html" %}
    {% endif %}
{% endif %}

{% set action = 'userlookup' %}
{% if callback is defined %}
    {% set action = callback %}
{% endif %}

{% set headerLabel = "Look Up User" %}
{% if sectionHeader is defined %}
    {% set headerLabel = sectionHeader %}
{% endif %}

{% set headerLabel = "Look Up User" %}
{% if sectionHeader is defined %}
    {% set headerLabel = sectionHeader %}
{% endif %}

{% if showVolunteerId is not defined %}
    {% set showVolunteerId = False %}
{% endif %}




{% block content %}
<script type="text/javascript">// <![CDATA[
    function loading(){
        $("#loading").show();
        $("#content").hide();       
    }
// ]]></script>

<style>
    table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
    }    
    .email-field {
        width: 580px;
    }
    div#loading {
        display: none;
        cursor: wait;
    }
    div#hcenter {
        margin-left:auto;
        margin-right:auto;
        width:300px;
        text-align:center;
        
    }
</style>

{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

<div id=content>
    {%  if (
            'User Lookup' in permissions 
            or 'Development: User Lookup' in permissions 
            or 'IVA Tools' in permissions 
            or 'King Of The Hill' in permissions
        ) or (
            callback == '/volunteertimeclock'
            or callback =='/vtc'
        )
    %}
        {% with name=headerLabel %}
            {% include 'common/section_heading.html' %}
        {% endwith %}

        <form action="{{ action }}" method="POST" onsubmit="loading(); document.getElementById('submit').value = 'Look up User'; loading()">
            <div class="manual-form">
                <table class="center">
                    <tr>
                        <td style="padding-right: 10px;">{{ render_field(form.salesforce_contact_id) }}</td>
                    </tr>
                    {% if showVolunteerId == True %}
                        <tr>
                            <td style="padding-right: 10px;">{{ render_field(form.volunteer_id) }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td style="padding-right: 10px;">{{ render_field(form.last_name) }}</td>
                        <td style="padding-right: 10px;">{{ render_field(form.first_name) }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-right: 10px;">{{ render_field(form.email) }}</td>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px;">{{ render_field(form.zip) }}</td>
                    </tr>                    
                </table>
            </div>
            {{ additionalFields | safe }}
            <div class="d-flex align-items-center flex-column">
                <input type="submit" name="submit" value="Look up User" class="btn btn-primary btn-save orange_background mt-5">
            </div>    
        </form>
    {% else %}
        {% with name='Permissions Error' %}
            {% include 'common/section_heading.html' %}
        {% endwith %}   
        <p style="text-align:center;"><img src="../../static/images/acessdenied.png" width="20%"></p>
        <div id=hcenter>
            <h1>Access Denied</h1>
            Please ask the system administrator for access if needed
        </div>
    {% endif %}
</div>

<div id=loading>
{% with name='Please Wait' %}
    {% include 'common/section_heading.html' %}
{% endwith %}
<p>The System is processing your request.  Please be patient as we interact with the various systems necessary to complete your transaction. </p>
<br><br>
<!-- <p style="text-align:center;"><img src="../../static/images/loading.gif" class="center"></p> -->
<p style="text-align:center;"><img src="{{ url_for('static', filename='images/loading.gif') }}" alt="Loading..." class="center"></p>

</div>

{% if showVolunteerId == True %}
    <script>
        document.getElementById("volunteer_id").focus();
    </script>
{% endif %}

{% endblock %}
