{% if sideMenu == True %}
    {% extends "common/sidebar_page.html" %}
{% elif developmentSideMenu == True %}
    {% extends "common/development_sidebar_page.html" %}
{% elif developmentCertificatesSideMenu == True %}
    {% extends "common/development_certificates_sidebar_page.html" %}  
{% elif businessSideMenu == True %}
    {% extends "common/business_sidebar_page.html" %}  
{% elif developmentEoyreportingSideMenu == True %}
    {% extends "common/development_eoyreporting_sidebar_page.html" %}
{% elif fullPage == True %}    
    {% extends "common/full_page.html" %}              
{% else %}
    {% extends "common/full_page.html" %}
{% endif %}

{% block content %}

<style>
    div#hcenter {
        margin-left:auto;
        margin-right:auto;
        width:300px;
        text-align:center;
        
    }
</style>


{% with name='Permissions Error' %}
{% include 'common/section_heading.html' %}
{% endwith %}   
<p style="text-align:center;"><img src="../static/images/acessdenied.png" width="20%"></p>
<div id=hcenter>
<h1>Access Denied</h1>
Please ask the system administrator for access if needed
</div>
{% endblock %}