
{% extends "common/sidebar_page.html" %}
{% block content %}
{% with name='Home' %}
    {% include 'common/section_heading.html' %}
{% endwith %}

<p style="text-align: center">  </p>
<br>
<p style="text-align: center"> Please make note of the announcements and new features listed on this screen and please report any bugs or request for new features by emailing 
    <a href="mailto:maxsessionsjr@gmail.com">maxsessionsjr@gmail.com</a></p>
<br>
<br>

{% with name='Announcements' %}
    {% include 'common/section_heading.html' %}
{% endwith %}
{% include "announcements.html" ignore missing %}

<br>

{% with name='Release Notes' %}
    {% include 'common/section_heading.html' %}
{% endwith %}

<br>
    <p style="text-align: center"> 
        Initial development of the website along with the ability to monitor and control docker containers for various servers.
    </p>
<br>

{% include "notes.html" ignore missing %}

{% endblock %}
