{% if sideMenu == True %}
    {% extends "common/sidebar_page.html" %}
{% elif developmentSideMenu == True %}
    {% extends "common/development_sidebar_page.html" %}
{% elif developmentCertificatesSideMenu == True %}
    {% extends "common/development_certificates_sidebar_page.html" %}  
{% elif businessSideMenu == True %}
    {% extends "common/business_sidebar_page.html" %}  
{% elif developmentEoyreportingSideMenu == True %}
    {% extends "common/development_eoyreporting_sidebar_page.html" %}
{% elif developmentConstituentsSideMenu == True %}
    {% extends "common/development_constituents_sidebar_page.html" %}
{% elif technologySideMenu == True %}
    {% extends "common/technology_sidebar_page.html" %}
{% elif dataToolsSideMenu == True %}
    {% extends "common/datatools_sidebar_page.html" %}
{% elif fullPage == True %}    
    {% extends "common/full_page.html" %}              
{% else %}
    {% extends "common/full_page.html" %}
{% endif %}

{% block content %}

<style>
    div#hcenter {
        margin-left:auto;
        margin-right:auto;
        width:400px;
        text-align:center;
        
    }
</style>


{% with name='Feature Unavailable' %}
{% include 'common/section_heading.html' %}
{% endwith %}   
<p style="text-align:center;"><img src="../static/images/cone.png" width="20%"></p>
<div id=hcenter>
<h1>Under Construction</h1>
This feature has not been fully developed.  The feature may be under active development, or it may be waiting for requirements or prerequisites
to be completed.  Please check with the IE&T team for updates
</div>
{% endblock %}