<style>
  .container {
      max-width: 60%;
      margin: 0 auto;
      text-align: center;
  }
  .centered {
      text-align: center;
  }
</style>





<div align="center" style="padding: 0 650px;">
  This site is here for historical purposes. If you managed to find it on your own, congrats! You found an easter-egg meant for my family. My father bought this domain on the year that I was born and eventually 
  decided to make use of it by creating a family gallery that existed until about 2017 or so. Luckily the waybackmachine had a copy of the site so I was able to salvage what it gathered to create this replica. 
  The original pages are the homepage and Dec 05 - Aug 06 and I may add more to it in the future
</div>
<div align="center" style="padding: 0 650px;">
  <b>You can return to the main site <a href="/">here</a></b>
</div>

<body>
  <div class="container">
      <h1 class="centered">Recent Family Pictures</h1>
      <div class="centered">
          <img border="0" src="{{ url_for('familyphotos.static', filename='images/Home/0003a.jpg') }}">
          <br>
          <br>
          <img border="0" src="{{ url_for('familyphotos.static', filename='images/Home/0012.jpg') }}">
          <br>
          <br>
          <img border="0" src="{{ url_for('familyphotos.static', filename='images/Home/0031a.jpg') }}">
          <br>
          <br>          
          <img border="0" src="{{ url_for('familyphotos.static', filename='images/Home/0093.jpg') }}">
          <br>
          <br>          
          <img border="0" src="{{ url_for('familyphotos.static', filename='images/Home/0078a.jpg') }}">
      </div>
  </div>
  <br>
  <br>
  <div class="centered">
    <nobr>[&nbsp;<a href="/familyphotos/Home" target="">Home</a>&nbsp;]</nobr> 
    <nobr>[&nbsp;<a href="/familyphotos/August06" target="">August&nbsp;Pictures</a>&nbsp;]</nobr> 
    <nobr>[&nbsp;<a href="/familyphotos/JuneJuly06" target="">June&nbsp;and&nbsp;July&nbsp;Pictures</a>&nbsp;]</nobr> 
    <nobr>[&nbsp;<a href="/familyphotos/AprilMay06" target="">April&nbsp;&amp;&nbsp;May&nbsp;Pictures</a>&nbsp;]</nobr> 
    <nobr>[&nbsp;<a href="/familyphotos/March06" target="">March&nbsp;2006&nbsp;Pictures</a>&nbsp;]</nobr> 
    <nobr>[&nbsp;<a href="/familyphotos/January06" target="">January&nbsp;2006&nbsp;Pictures</a>&nbsp;]</nobr> 
    <nobr>[&nbsp;<a href="/familyphotos/December05" target="">December&nbsp;`05&nbsp;Pictures</a>&nbsp;]</nobr>
</div>
  <br>
  <br>
</body>
