<style>
  .container {
      max-width: 60%;
      margin: 0 auto;
      text-align: center;
  }
  .centered {
      text-align: center;
  }
</style>





<body>
  <div class="container">
      <h1 class="centered">January 06 Pictures</h1>
      <div class="centered">
          <img border="0" src="{{ url_for('familyphotos.static', filename='images/January06/100_2028a.jpg') }}">
          <br>
          <br>
          <img border="0" src="{{ url_for('familyphotos.static', filename='images/January06/100_2060a.jpg') }}">
          <br>
          <br>
          <img border="0" src="{{ url_for('familyphotos.static', filename='images/January06/100_2087a.jpg') }}">
          <br>
          <br>          
          <img border="0" src="{{ url_for('familyphotos.static', filename='images/January06/100_2088a.jpg') }}">
          <br>
          <br>          
          <img border="0" src="{{ url_for('familyphotos.static', filename='images/January06/100_2091a.jpg') }}">
          <br>
          <br>          
          <img border="0" src="{{ url_for('familyphotos.static', filename='images/January06/100_2063a.jpg') }}">
          <br>
          <br>          
          <img border="0" src="{{ url_for('familyphotos.static', filename='images/January06/100_2106a.jpg') }}">
          <br>
          <br>          
          <img border="0" src="{{ url_for('familyphotos.static', filename='images/January06/100_2177a.jpg') }}">
          <br>
          <br>          
          <img border="0" src="{{ url_for('familyphotos.static', filename='images/January06/100_2185a.jpg') }}">
      </div>
  </div>
  <br>
  <br>
  <div class="centered">
      <nobr>[&nbsp;<a href="/familyphotos/Home" target="">Home</a>&nbsp;]</nobr> 
      <nobr>[&nbsp;<a href="/familyphotos/August06" target="">August&nbsp;Pictures</a>&nbsp;]</nobr> 
      <nobr>[&nbsp;<a href="/familyphotos/JuneJuly06" target="">June&nbsp;and&nbsp;July&nbsp;Pictures</a>&nbsp;]</nobr> 
      <nobr>[&nbsp;<a href="/familyphotos/AprilMay06" target="">April&nbsp;&amp;&nbsp;May&nbsp;Pictures</a>&nbsp;]</nobr> 
      <nobr>[&nbsp;<a href="/familyphotos/March06" target="">March&nbsp;2006&nbsp;Pictures</a>&nbsp;]</nobr> 
      <nobr>[&nbsp;<a href="/familyphotos/January06" target="">January&nbsp;2006&nbsp;Pictures</a>&nbsp;]</nobr> 
      <nobr>[&nbsp;<a href="/familyphotos/December05" target="">December&nbsp;`05&nbsp;Pictures</a>&nbsp;]</nobr>
  </div>
  <br>
  <br>
</body>