<style>
.centered {
    text-align: center;
}
</style>


<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFCC">
    <!--DWLayoutTable-->
    <tbody><tr> 
      <td width="188" height="127" valign="top"><a href="{{ url_for('familyphotos.static', filename='images/October02/mrpklarge.jpg') }}"><img src="{{ url_for('familyphotos.static', filename='images/October02/mrpk.jpg') }}" width="186" height="134" border="0"></a></td>
      <td width="100%" valign="top"><p>&nbsp;</p>
        <h3 align="center"><font size="+1" face="Georgia, Times New Roman, Times, serif"><em>The 
          Sessions Family Web Page</em></font></h3></td>
      <td width="170" valign="top"><a href="{{ url_for('familyphotos.static', filename='images/October02/mr4party1large.jpg') }}"><img src="{{ url_for('familyphotos.static', filename='images/October02/mr4party1.jpg') }}" width="218" height="131" border="0"></a></td>
  </tbody></table>
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <!--DWLayoutTable-->
    <tbody><tr> 
      <td width="100%" height="73" valign="top" bgcolor="#FFFFFF"> <div align="center"> 
          <p><font face="Georgia, Times New Roman, Times, serif">Here are the first 
            images for our new web page. Hope you enjoy them. If you'd like to drop 
            us a note click <a href="mailto:max@maxsessions.com">here</a> or send 
            an email to thesessions@maxsessions.com. We'd love to hear from you. 
            </font></p>
        </div></td>
    </tr>
    <tr> 
      <td height="341" valign="top"> 
        <table width="107%" height="128" border="0" cellpadding="0" cellspacing="0">
          <!--DWLayoutTable-->
          <tbody><tr> 
            <td width="140" height="130" valign="top"><a href="{{ url_for('familyphotos.static', filename='images/October02/newtractor1.jpg') }}"><img src="{{ url_for('familyphotos.static', filename='images/October02/newtractor1.jpg') }}" width="134" height="128" border="0"></a></td>
            <td width="137" valign="top"><a href="{{ url_for('familyphotos.static', filename='images/October02/thomaslarge.jpg') }}"><img src="{{ url_for('familyphotos.static', filename='images/October02/thomas.jpg') }}" width="136" height="130" border="0"></a></td>
            <td width="135" valign="top"><a href="{{ url_for('familyphotos.static', filename='images/October02/mr4party.jpg') }}"><img src="{{ url_for('familyphotos.static', filename='images/October02/mr4party.jpg') }}" width="133" height="125" border="0"></a></td>
            <td width="133" valign="top"><a href="{{ url_for('familyphotos.static', filename='images/October02/srjrlakelarge.jpg') }}"><img src="{{ url_for('familyphotos.static', filename='images/October02/srjrlake.jpg') }}" width="144" height="129" border="0"></a></td>
          </tr>
        </tbody></table></td>
    </tr>
  </tbody>
</table>
<div class="centered">
  <nobr>[&nbsp;<a href="/familyphotos/Home" target="">Home</a>&nbsp;]</nobr> 
  <nobr>[&nbsp;<a href="/familyphotos/August06" target="">August&nbsp;Pictures</a>&nbsp;]</nobr> 
  <nobr>[&nbsp;<a href="/familyphotos/JuneJuly06" target="">June&nbsp;and&nbsp;July&nbsp;Pictures</a>&nbsp;]</nobr> 
  <nobr>[&nbsp;<a href="/familyphotos/AprilMay06" target="">April&nbsp;&amp;&nbsp;May&nbsp;Pictures</a>&nbsp;]</nobr> 
  <nobr>[&nbsp;<a href="/familyphotos/March06" target="">March&nbsp;2006&nbsp;Pictures</a>&nbsp;]</nobr> 
  <nobr>[&nbsp;<a href="/familyphotos/January06" target="">January&nbsp;2006&nbsp;Pictures</a>&nbsp;]</nobr> 
  <nobr>[&nbsp;<a href="/familyphotos/December05" target="">December&nbsp;`05&nbsp;Pictures</a>&nbsp;]</nobr>
  <nobr>[&nbsp;<a href="/familyphotos/October02" target="">October&nbsp;`02&nbsp;Pictures</a>&nbsp;]</nobr>
</div>